@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 24, 19;
  --background-start-rgb: 245, 241, 232;
  --background-end-rgb: 251, 249, 244;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 241, 232;
    --background-start-rgb: 41, 36, 31;
    --background-end-rgb: 29, 24, 19;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}